<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/new.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="logomain.png" alt="" />
      </div>
      <div class="links">
        <a
          href="#"
          class="hover:text-indigo-500 focus:text-indigo-500 transition-all focus:bg-indigo-100"
          >Home</a
        >
        <a
          href="#"
          class="hover:text-indigo-500 focus:text-indigo-500 transition-all focus:bg-indigo-100"
          >About</a
        >
        <a
          href="#"
          class="hover:text-indigo-500 focus:text-indigo-500 transition-all focus:bg-indigo-100"
          >Docs</a
        >
        <a
          href="#"
          class="hover:text-indigo-500 focus:text-indigo-500 transition-all focus:bg-indigo-100"
          >Github</a
        >
        <a
          href="#"
          class="hover:text-indigo-500 focus:text-indigo-500 transition-all focus:bg-indigo-100"
          >Contact</a
        >
        <a
          href="#"
          class="hover:text-indigo-500 focus:text-indigo-500 transition-all focus:bg-indigo-100"
          >Kofi</a
        >
      </div>
      <div class="navbar-button">
        <a href="#">
          <a
            class="px-5 py-3 text-white bg-indigo-900 rounded-md md:ml-5"
            style="cursor: pointer"
            >Get Started &rarr;</a
          >
        </a>
      </div>
    </nav>
  </body>
</html>
