.center-content {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  margin: 70px auto;
  text-align: center;
}

.title {
  margin-top: 40px;
  font-weight: bold;
  font-size: 3.5rem;
}

ul {
  margin: 50px auto;
}

.list-disc {
  width: 50%;
}

.user,
.keywords {
  color: gray;
}

.keywords {
  margin-top: 7px;
}

.para {
  margin-top: 30px;
}

.get-started-navbar-2 button {
  background-color: #3651bf;
  color: white;
  padding: 8px 18px;
  /* font-weight: bold; */
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: 0.2s all;
  border: 1px solid #3651bf;
}

/* media queries */

@media only screen and (max-width: 929px) {
  header {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(100px);
    top: 0;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .links {
    display: none;
  }
  .links-resp {
    display: flex;
    flex-direction: column;
    transition: 0.2s all ease-in-out;
  }
  .links a {
    margin: 15px 0;
  }
  .links a:not(:first-child) {
    margin-left: 0px;
  }
  .navbar-btn-dash {
    display: none;
  }
  .get-started-navbar-2 {
    display: none;
  }
  .hamburger {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 729px) {
  .images img {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 515px) {
  .images img {
    width: 450px;
    height: 450px;
  }
  .title {
    font-size: 2.7rem;
  }
  .user {
    font-size: 1.2rem;
  }
  .keywords {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 462px) {
  .images img {
    width: 400px;
    height: 400px;
  }
  .navbar-logo img {
    width: 80px;
    height: 52px;
  }
}

@media only screen and (max-width: 409px) {
  .images img {
    width: 350px;
    height: 350px;
  }
  .navbar-logo img {
    width: 70px;
    height: 50px;
  }
}

@media only screen and (max-width: 361px) {
  .images img {
    width: 311px;
    height: 311px;
  }
}

.center-content {
  transition: 5s all ease;
  transform: translateY(80px);
  opacity: 0;
}
